.recipe-list{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}
input{
    border: none;
    height: 64px;
    outline: none;
    font-size: 24px;
    padding-left: 4px;
}
input:focus::placeholder{
    color: transparent;
}
input::placeholder{
    font-size: 24px;
}

.searchbar{
    width: 1280px;
    margin-inline: auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchbar{
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}
i{
    margin:0;
    cursor: pointer;
}