<main>
  <div class="searchbar">
    <input
      type="text"
      placeholder="Search for recipe"
      [(ngModel)]="searchText"
    />
    <i class="bi bi-x h1" (click)="clearInput()"></i>
  </div>
  <select
    [(ngModel)]="filter"
    class="form-select wrapper"
    aria-label="Default select example"
  >
    <option selected>Search By Category</option>
    <option value="all">All</option>
    <option value="favorites">Favorites</option>
  </select>
  <ng-container *ngIf="recipes?.length == 0">
    <a routerLink="newrecipe">
      <button
        class="btn btn-success position-absolute top-50 start-50 translate-middle"
      >
        Add New Recipe
      </button>
    </a>
  </ng-container>
  <ng-container *ngIf="recipes?.length > 0">
    <div class="wrapper">
      <a class="" routerLink="newrecipe">
        <button class="btn btn-success">Add Another Recipe</button>
      </a>
      <div class="recipe-list wrapper">
        <app-recipe-card
          *ngFor="let item of filteredRecipes | filter : searchText"
          [detailedRecipe]="item"
        ></app-recipe-card>
      </div>
    </div>
  </ng-container>
</main>
