<app-back-button></app-back-button>

<article class="recipe-article">
  <img
    [src]="myRecipe?.image"
    alt="{{ myRecipe?.title }}"
    class="recipe-image"
  />
  <div class="d-flex mt-2 justify-content-between">
    <button
      (click)="deleteRecipe(myRecipe.id)"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      class="btn btn-danger"
    >
      Delete Recipe
    </button>
    <button (click)="navigateToEdit()" class="btn btn-warning">
      Edit Recipe
    </button>
  </div>

  <h1 class="recipe-title my-3">{{ myRecipe?.title }}</h1>

  <p class="description mb-2 d-table h4">Description</p>
  <p class="recipe-description mb-5">{{ myRecipe?.description }}</p>

  <p class="h4 d-table mb-2 ingredients-title">Ingredients</p>
  <div class="table-container">
    <table class="table recipe-table mb-5">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myRecipe?.ingredients">
          <td>{{ item.quantity }}</td>
          <td>{{ item.unit }}</td>
          <td class="fw-bold">{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="recipe-instruction mb-5">{{ myRecipe?.instruction }}</p>
</article>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">+1 Message</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Your recipe has been deleted</div>
      <div class="modal-footer">
        <a routerLink="/">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
