<p style="text-align: center">Add New Recipe</p>

<main>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <label>Title<input type="text" formControlName="title" /></label>
    <label
      >Description<input formControlName="description" id="description"
    /></label>

    <div formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; let i = index">
        <div
          [formGroupName]="i"
          class="d-flex align-items-center gap-3"
        >
          <input formControlName="name" placeholder="Name" />
          <input formControlName="quantity" placeholder="Quantity" />
          <input formControlName="unit" placeholder="Unit" />
        </div>
      </div>
    </div>
    <label for="instruction">
      <textarea cols="30" rows="10" formControlName="instruction"></textarea>
    </label>

    <label class="image-upload" for="image" style="align-items: center">
      Choose Image
      <i class="bi bi-cloud-arrow-up-fill" style="font-size: 70px"></i>
      <input
        type="file"
        ngDefaultControl
        (change)="onImagePicked($event)"
        name="image"
        id="image"
        hidden
    /></label>

    <button type="submit">Add New Recipe</button>
  </form>
</main>
