
textarea{
    resize: none;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.image-upload{
    padding: 14px;
    background-color: #F4F3FF;
    border-radius: 8px;
    border: 1px dotted #85858D;
    cursor: pointer;
}
.image-upload:hover{
    background-color: #eae8fc;
}
input,textarea{
    border: 1px solid #E4E3EB;
    background-color: #FCFCFD;
    outline-color: #5D37F3;
    border-radius: 8px;
}
input{
    height: 44px;
    padding: 12px;
    
}
p{
   
    font-weight: bold;
    font-size: 34px;
}

a{
    position: relative;
    top: 2.5rem;
    left: 2.5rem;
}